html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    height: 100%;
    margin: 0;
}

header {
    color: white;
    background:  black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}
  
h1 {
    font-size: 1.7rem;
    margin: 0ch;
    padding: 0ch;
}

h5{
    font-size: 20px;
    font-family: "Poppins", sans-serif;

}

h6{
    margin: 0ch;
    padding: 0ch;
}

h3{
    color:#be3144;
    font-size: 4.5rem;
    font-family: 'Brush Script MT', cursive;
    font-weight: 700;
    text-align: center;
    position: relative;
    right: 280px;
    bottom: 50px;
}

.h6-2{
    color: rgb(241, 235, 235);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    right: 340px;
    bottom: 3cm;

}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/kelly-sikkema-yXpA_eCbtzI-unsplash.jpg);
    background-position: center;
    background-size: cover;  
}

.H2{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    right: 500px;
    top: 1cm;
    
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px #be3144;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #be3144;

}

.about-section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.second-section-head{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    left: 2px;
    top: 0.5cm;
    padding: 3cm;
}

.btn2{
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/deval-dayal-BJRvPy536Zg-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.third-section-head{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    left: 2px;
    top: 0.5cm;
    padding: 3cm;
}

.btn3{
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/hao-wang-pVq6YhmDPtk-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.four-section-head{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    left: 2px;
    top: 0.5cm;
    padding: 3cm;
}

.btn4{
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-section-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/sk-firoj-ali-UBCRZM8qMb0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.five-section-head{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    left: 2px;
    top: 0.5cm;
    padding: 3cm;
}

.btn5{
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-section-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(/sam-pak-X6QffKLwyoQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.six-section-head{
    color: rgb(241, 235, 235);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    left: 2px;
    top: 0.5cm;
    padding: 3cm;
}

.btn6{
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}






